* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.block-one {
    background-image: url(./Images/bg.png);
    background-size: cover;
    height: 550px;
    width: 100%;
}

.header {
    display: flex;
    border-bottom: 1px solid white;
    padding: 33px 0 33px 0;
    align-items: center;
}

.nav-bar ul {
    display: flex;
    padding-top: 3px;
}

.nav-bar ul li {
    list-style: none;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    margin-right: 20px;

}

.img1 {
    padding-left: 200px;
    padding-right: 149px;
}

 .num {
    color: #FFFFFF;
    margin-left: 115px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
}

.num .p {
    display: flex;
}

/* Blok 2 */
.block-two {
    position: relative;
    padding: 100px 0;
    display: flex;
    background: #f3f3f3;
    width: 60%;
}

.about {
    margin-left: 320px;
}

.heading {
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
}

.heading2 {
    font-size: 14px;
    font-family: Roboto;
}

.text {
    position: absolute;
    border: 1px solid white;
    width: 310px;
    height: 150px;
    background: white;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 22px;
    padding-left: 40px;
    padding-top: 25px;
    margin-top: 80px;
}

.img2 {
    width: 390px;
    height: 420px;
    margin-left: 150px;
}

/* Block 3*/
.block-three {
    padding: 100px 0;
    margin-left: 300px;
    margin-right: 325px;
}

.news  {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin-bottom: 20px;
}

.all-news {
    border: 1px solid #0F4898;;
    width: 140px;
    height: 34px;
    background: #0F4898;
    text-decoration: none;
    color: #fff;
    padding-top: 14px;
    padding-left: 22px;
}

.all-news:hover {
   background:  #0f3b79;
}

.blocks {
    display: flex;
}

.img3 {
    width: 223px;
    margin-top: 40px;
}

.date {
    margin-top: 30px;
    margin-bottom: 15px;
    color: grey;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0.05em;
}

.center {
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    margin-top: 15px;
    margin-bottom: 30px;
}

.first-ad {
    margin-right: 30px;
}

.more {
    border: 1px solid #0F4898;;
    width: 140px;
    height: 34px;
    background: #0F4898;
    text-decoration: none;
    color: #fff;
    padding-top: 14px;
    padding-left: 22px;
    padding-bottom: 14px;
    padding-right: 22px;
}

.more:hover {
    background-color:  #0f3b79;
}

.footer {
    padding: 40px 0;
    background: #323232;
    color: #FFFFFF;
    font-size: 14px;
    padding-left: 35%;
}

.nav-f {
    display: flex;
    margin-bottom: 22px;
    padding-left: 110px;
}

.nav-f h5 {
    margin-right: 25px;
}